<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-plug"></i> {{ extension.name }}
    </div>
    <div class="card-body">

        {% set hasToken = app.session.get('fb_access_token') %}
        <p>{{ extension.composerpackage.description }}</p>
        <p>Version: {{ extension.composerpackage.version }}</p>

        <p>
            {% if hasToken %}
            <a href="{{ path('facebook_oauth_revoke') }}" class="btn btn-hidden-danger" data-confirm="Revoke access with Facebook login.">
                <i class="fas fa-spider"></i> Revoke Access
            </a>
            {% else %}
            <a href="{{ path('facebook_oauth') }}" class="btn btn-secondary" data-confirm="Affirm access with Facebook login.">
                <i class="fas fa-spider"></i> Add Facebook Login
            </a>
            {% endif %}

        </p>
    </div>
</div>